@using Microsoft.WindowsAzure.MediaServices.Client
@using WaMedia.Common

@model List<WaMedia.Common.Models.Asset>
@{
    ViewBag.Title = "Assets";
}
@section head
{
    <link href="@Url.Content("~/Content/fileuploader.css")" rel="stylesheet" type="text/css" />
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/fileuploader.js")"></script>
    <script type="text/javascript">
        $(document).ready(function ()
        {

            var uploader = new qq.FileUploader({
                // pass the dom node (ex. $(selector)[0] for jQuery users)  -- change this
                element: $('#mediasource')[0],
                // path to server-side upload script
                action: '/Assets/CreateMediaAsset/',
                uploadButtonText: 'Create Media Asset'
            });


        });
    </script>
}
<h2>Create Empty Asset</h2>
@using (Html.BeginForm("CreateEmptyAsset", "Assets", FormMethod.Post))
{
    <input type="text" name="name" />
    <input type="submit" value="create" />
}
<h2>Assets List</h2>
<table border="0" cellpadding="4" cellspacing="2">
    <tr>
        <th>Name</th>
        <th>State</th>
        <th>Actions</th>
    </tr>
    @foreach (var asset in Model)
    {
        <tr>
            <td>          
            @asset.MediaAsset.Name</td>
            <td>@asset.MediaAsset.State</td>
            <td>
                @Html.ActionLink("[details]", "Details", new { assetId = @asset.MediaAsset.Id })
                @Html.ActionLink("[streaming url]", "GetStreamingUrl", new { assetId = @asset.MediaAsset.Id })
                @Html.ActionLink("[HLS URL]", "GetHlsStreamingUrl", new { assetId = @asset.MediaAsset.Id })
                @Html.ActionLink("[streaming CDN]", "GetCDNStreamingUrl", new { assetId = @asset.MediaAsset.Id })
                @Html.ActionLink("[progressive mp4 url]", "GetMp4StreamingUrl", new { assetId = @asset.MediaAsset.Id })
                @Html.ActionLink("[Smooth enc.]", "EncodeAndConvert", new { assetId = @asset.MediaAsset.Id })
                @Html.ActionLink("[Smooth Pack.]", "Mp4ToSmooth", new { assetId = @asset.MediaAsset.Id })
                @Html.ActionLink("[HLS enc.]", "ConvertToHls", new { assetId = @asset.MediaAsset.Id })
                @Html.ActionLink("[MP4 enc.]", "ConvertToMp4", new { assetId = @asset.MediaAsset.Id })
                @Html.ActionLink("[Multi bitrate MP4 enc.]", "ConvertToMultiBitrateMp4", new { assetId = @asset.MediaAsset.Id })
                @Html.ActionLink("[PlayReady ENC.]", "ConvertToPlayReady", new { assetId = @asset.MediaAsset.Id })
                @Html.ActionLink("[Gen. Thumbnails]", "CreateThumbnails", new { assetId = @asset.MediaAsset.Id })
                @Html.ActionLink("[SAS URL]", "GetSasUrl", new { assetId = @asset.MediaAsset.Id });
                @Html.ActionLink("[~ DELETE ~]", "DeleteAsset", new { assetId = @asset.MediaAsset.Id })
           
                 </td>
        </tr>
    }
</table>
<div id="mediasource"></div>
